
<html>
<head>
  <script src="public/bower_components/jquery/jquery.js"></script>
  <script src="public/bower_components/underscore/underscore.js"></script>
  <script src="public/bower_components/backbone/backbone.js"></script>
  <script src="public/bower_components/handlebars/handlebars.js"></script>
  <script src="public/bower_components/passport/passport.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/cards.css">
</head>




  <script id="edit" type="text/x-handlebars-template">
    <form action="/edit/card/{{cardID}}" method="post">
      Front:
      <input type="text" name="front" value="{{front}}"/><br>
      Back:
      <input type="text" name="back" value="{{back}}"/><br>
      <input type="submit" name="submit" value="save"/>
    </form>
  </script>

  <script id="auth" type="text/x-handlebars-template">
    <div class='top_bar'>
    User info goes here
    </div>
  </script>

  <script id="decks-template" type="text/x-handlebars-template">
    <table class="decksTable">
      {{#each decks}}
        {{#if_even @index}}
          <tr class="decksRow">
        {{/if_even}}
          <td class="decksCell">
            <span class="cellInterior">
              <div class="dck {{this._id}}"> 
                {{this.deckname}}<br>
              </div>
                <span class="deckStats">
                {{this.cards.length}} cards. <br>
                {{this.cardstoReview}} cards need review.

              <div class="button-container">
                <button class="edit {{this._id}}">Edit</button>
                <button class="delete {{this._id}}">Delete</button>
              </div>
            </span>
          </td>
        {{#if_even @index}}
        {{else}}
          </tr>
        {{/if_even}}
      {{/each}}
    </table>
  </script>


  <script id="card" type="text/x-handlebars-template">
  <div class='headerDeckName'>{{deckname}}</div>
    <div class='crd'>
      <div class='front'>
        {{front}}
      </div>
      <div class ='back' id="hidden">
        {{back}}
      </div>
      <button class="flipper">Flip</button>
      <div class="EF">
        <table class="ratings">
          <tr class="ratings">
            <td class="grade zero"></td>
            <td class="grade one"></td>
            <td class="grade two"></td>
            <td class="grade three"></td>
            <td class="grade four"></td>
            <td class="grade five"></td>
          </tr>
        </table>
      </div>
    </div>
  </script>

  <script id="app" type="text/x-handlebars-template">
    <div class="app">
      <nav class="nav">
        <ul class="nav_bar">
          <li class="nav_item jogly"><b> /&#601;/ schwa</b> </li>
          <li class="nav_item deck_list">Decks</li>
        <span class="user_info">
          <li class="right_nav user_name">Hi, Alex Prokop!</li> 
          <li> <a href="/logout" class="right_nav sign_out">Sign Out</a></li>     
        </ul>
        </span>
      </nav>
      <div class="card_container"></div>
    </div>
  </script>
  
  <script src="public/js/views/AppView.js"></script>
  <script src="public/js/views/SettingsView.js"></script>
  <script src="public/js/views/IndexView.js"></script>
  <script src="public/js/views/DeckView.js"></script>
  <script src="public/js/views/EditView.js"></script>
  <script src="public/js/router.js"></script>
  <script src="public/js/models/Deck.js"></script>
  <script src="public/js/models/Decks.js"></script>
  <script src="public/js/init.js"></script>
<body>
</body>
</html>




