<html>
  <link rel="stylesheet" type="text/css" href="/public/css/signin.css">
<body>
  <h1>/&#601;/ schwa.cc </h1>
    <h2> Hassle-free flashcards. </h2>
<div class="text-container"> 
  <h3> Keep track of what you need to review.
  <h5> Schwa uses a spaced repetition algorithm to calculate the best time to review a card&mdash;right before you're about to forget it.  </h5>
  <h3> Make flashcards from any website. </h3>
  <h5>Using the Schwa Chrome extension, just highlight text and right-click! </h5>
  <h3> Sharpen your language skills. </h3>
  <h5>Schwa uses the WordReference and Language Detection APIs to translate words and phrases. No tab-switching, copying, or pasting necessary. </h5>
  <h3> <b> CC  yourself with Schwa. </b><br>
  <button onclick="location.href='/auth/facebook';" class="btn btn-facebook" href="/auth/facebook"> Sign in with Facebook</button>
  <a href="http://hackreactor.com"> 
<img style="position: fixed; top: 0; right: 0; border: 0;" 
src="http://i.imgur.com/x86kKmF.png" 
alt="Built at Hack Reactor"> 
</a>
</div>
</body>
</html>