a {
  color: white;
  text-decoration: none;
}


ul {
  color: white;
  background-image:url('/public/img/black_denim.png');
  list-style-type:none;
  margin:0;
  padding:0;
  display: table;
}

li {
  margin-right: 20px;
  display:inline;
}

.nav_item:hover{
  margin-right: 23px;
  color: #00FF00;
}

body {
  background-image:url('/public/img/darkdenim3.png');
  font-family: 'Helvetica';
  font-size: 40px;
  font-weight: bold;
  /*background-color: black;*/
  color: white;
  -webkit-font-smoothing: antialiased;
}

.card_container {
  border: .5px dotted gray;
  height: 500px;
  width: 900px;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.deckname {
  margin-top: 20px;
}

.card_count, .current_streak, .best_streak, .sound_controls {
  font-size: 15px;
  margin-left: 300px;
  padding-bottom: 50px
}

.thumbs {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height:100px;
  width:100px;
}

.thumbs_up {
  margin-left: 300px;
  margin-right: 200px;
  transform:scale(0.2,0.2);
}

.thumbs_side {
  margin-left: 300px;
  transform:scale(0.5,0.5);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
  -moz-transform: rotate(90deg); /* Firefox */
}

.thumbs_down {
  margin-left: 300px;
  transform:scale(0.5,0.5);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
  -moz-transform: rotate(180deg); /* Firefox */
}

#hidden {
  visibility: hidden;
}

.flipper {
  margin-top: 60px;
  width: 8em;
  height: 3em;
  background-color: white;
  color: black;
  border: 6px solid white;
}

.crd {
  position: relative;
  top: 35%;
  bottom: 50%;
}


.dck {
  position: relative;
  top: 15%;
  bottom: 50%;
}


.decks {
  margin-bottom: 2em;
  margin-right: 1em;
  width: 24em;
  height: 6em;
  background-color: black;
  color: red;
  border: 6px solid red;
}

.deckname {
  top: 2em;
  font-size: 20px;
}

.EF {

  margin-top: 80px;

}

.decksTable {
  margin-right: auto;
  margin-left: 0;
  font-size: 40px;
  width: 400px;
  border-spacing:20px;
  /*border-collapse:collapse;*/
}

.decksCell{
  font-size: 10px;
  background-image:url('/public/img/white_paperboard.png');
  margin-bottom: 10px;
  margin-right: 100px;
  font-weight: bold;
  background-color: white;
  color: #1A1A1A;
  opacity: .6;
  height: 100px;
  width: 100px;
}

.decksCell:hover{
  opacity: 1;
}

.decksRow, .decksCell {
  font-size: 30px
}

.decksCell {
  height: 10px;
  width: 100px;
}

.deckStats {
  font-size: 15px;
}

/*.cellInterior{
  background-color: white;
  padding-bottom: 20px;
  padding-right: 20px;
}
*/

.ratings{
  margin-right: auto;
  margin-left: auto;
}

.grade{
  height: 100px;
  width: 100px;  
}

.zero{
background-color: #FBD69F;
}

.one{
background-color: #484118;
}

.two{
background-color: #D8812C;
}

.three{
background-color: #8BA578;
}

.four{
background-color: #F86E34;
}

.five{
background-color: #B21310;
}

