body {
    color:white;
    background-image:url('/public/img/darkdenim3.png');
    text-align: center;
    font-family: 'Georgia';
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

a {
    color: white;
    text-decoration: none;
}

.text-container {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #222;
    border: 2px solid white;
    max-width: 500px;
    border-radius: 5px;

}

h1{
    font-weight: bolder;
    font-size: 70px;

}

h2{
    line-height: 30%;
}

h5{
    text-align: left;
        font-weight: normal;
}


.btn-facebook {


  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 3px;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}